:host {
  perspective: 600px;
}

.card {
  width: 150px;
  height: 200px;
  cursor: pointer;
  transition: transform 0.5s;
  transform-style: preserve-3d;
  position: relative;
  &.is-flipped {
    transform: rotateY(180deg);
  }
  &__face {
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    font-size: 48px;
    &--back {
      transform: rotateY( 180deg );
    }
  }
}
