<div class="card bg-primary shadow-sm m-2 text-light align-items-center justify-content-center"
     [class.bg-dark]="isReady$ | async"
     [class.bg-danger]="isFailed$ | async"
     [class.bg-success]="isMatch$ | async"
     [class.is-flipped]="isSelected$ | async"
     (click)="setSelected()">
    <div class="card__face card__face--front"></div>
    <div class="card__face card__face--back d-flex align-items-center justify-content-center">{{data}}</div>
</div>
