<app-marker></app-marker>
<div class="board d-flex flex-wrap">
    <app-card *ngFor="let card of cards$ | async; let index = index"
              [data]="card"
              [index]="index"></app-card>
</div>
