<div class="marker m-2 bg-dark text-light d-flex">
    <div class="mr-auto">
        <fa-icon [icon]="['far', 'clock']" size="2x" class="mr-2"></fa-icon>
        <countdown #counter
                   [config]="markerConfig"
                   (finished)="countDownFinished($event)">$!m!:$!s!</countdown>
    </div>
    <button class="btn btn-success btn-lg" (click)="play()" [disabled]="isPlaying$ | async">Jugar</button>
</div>

<ng-template #modalWinnerRef let-modal>
    <div class="modal-body text-center">
        <h2 class="mb-3 text-success">¡Ganaste!</h2>
        <h5>Felicitaciones, tenés mucha memoria.</h5>
        <div class="text-right mt-5">
            <button type="button" class="btn btn-success btn-lg" (click)="modal.close()">Cerrar</button>
        </div>
    </div>
</ng-template>

<ng-template #modalLooserRef let-modal>
    <div class="modal-body text-center">
        <h2 class="mb-3 text-danger">¡Perdiste!</h2>
        <h5>Espero que tengas suerte la próxima.</h5>
        <div class="text-right mt-5">
            <button type="button" class="btn btn-danger btn-lg" (click)="modal.close()">Cerrar</button>
        </div>
    </div>
</ng-template>
