@import url('https://fonts.googleapis.com/css?family=Rubik:300,400&display=swap');
@import '~bootstrap/scss/bootstrap';

html, body {
  height: 100%;
}

body {
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
}

button {
  font-family: 'Rubik', sans-serif;
}

.count-down {
  font-size: 32px;
}
